<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>831823205399-cjjjhum6l1qti51shadad55743aivoo3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.831823205399-cjjjhum6l1qti51shadad55743aivoo3</string>
	<key>API_KEY</key>
	<string>AIzaSyBY-84AdKjsg7GUphNendia1BC-tlmN-iU</string>
	<key>GCM_SENDER_ID</key>
	<string>831823205399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ptool.ptool-watchOS</string>
	<key>PROJECT_ID</key>
	<string>postmantools</string>
	<key>STORAGE_BUCKET</key>
	<string>postmantools.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:831823205399:ios:b53fa79e0652fd1afab852</string>
	<key>DATABASE_URL</key>
	<string>https://postmantools.firebaseio.com</string>
</dict>
</plist>